
  <div id="map"></div>
  <section class="searchMap panel-unactive">
    <h3 id="searchMap__header">Search For Park </h3>
    <form action="#">
      Enter the address<br>
      <input placeholder="Enter address here" type="address" name="address"><br><br>
      From<br>
      <input type="date" name="datefrom"><br><br>
      To:<br>
      <input type="date" name="dateto"><br><br>
      <button class="btn-submit" type="submit">
        Submit
      </button>
    </form>
  

  </section>
    <button class="btn-arrow panel-arrow-active">
      =>
    </button>
  <div class="parkedAreas">
    <h1>Parking Infomation </h1>
    <div class="parkedAreas__boxOne">
      <p>here</p>
    </div>
    <img class="boxOne__image" src="/public/img/parkingone.jpg" draggable="false">
    <div class="boxOne__information">
      <p>Not here</p>
    </div>
    <img class="spots" src="public/img/parkingtwo.jpg" draggable="false">
    <div class="box1">
      <p>Even</p>
    </div>
    <img class="spots" src="public/img/parkingthree.jpg" draggable="false">

  </div>
