*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  height: 100vh;
  overflow-x: hidden;
}
/* Mapping Config */
#map{
  position: relative;
  height: 100vh;
  width: 100%;
}
.gm-fullscreen-control,.gm-style-mtc{
  display: none!important;
}
/* HEADER STYLING START */
/* ------------------------- */
.banner__avatarImg {

  height: 20%;
  width: 50px;
  border-radius: 20pc;
}